@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 4em;
    padding: 5px;
    border-radius: 5em;
}